@import 'minireset';
@import 'mixins';
@import 'variables';
@import 'functions';

@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro');

:global {
  body,
  html {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f1f1f1;
    font-size: 16px;
  }
}
