// Font sizes
$font-base: 16px !default;
$font-size-mini: 0.75rem !default;
$font-size-tiny: 0.8125rem !default;
$font-size-small: 0.9375rem !default;
$font-size-medium: 1rem !default;
$font-size-large: 1.25rem !default;
$font-size-big: 1.5rem !default;
$font-size-huge: 2rem !default;
$font-size-massive: 3rem !default;

// Font family
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-semi: 600 !default;
$font-weight-bold: 700 !default;
